<div class="mainCont">
    <h1>Home Page</h1>
    <%=image_tag("golfswing.jpg", :class=> "welcomeIm") %>
</div>

<br><br>
<%= render 'layouts/popularproducts' %>

<br><br>

<%= render 'layouts/categories' %>

<br><br>

  <div class="mainCont">
<%= render 'layouts/search' %>
    </div>
